
@import "compass";
body {   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;     padding-top: 81px; }
p { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;  }
.navbar-default { background-color: #ff4a93; border-color: #ff4a93; }
.navbar-default .navbar-nav>li>a { color: #fff; @include transition(all ease-in-out 0.5s); }
.navbar-default .navbar-brand { color: #fff; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FFF;
  background-color: #E23E80;
}
.navbar { margin-bottom: 0; }
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {background-color: #E23E80;  color: #FFF; }

.navbar-brand { height: auto;     padding: 30px 15px; }
.navbar-nav>li>a {    line-height: 50px; }
.green_belt { background: #0a6963; padding:0 0 20px;
  p { color: #fff; font-size: 18px; font-weight: normal;  }
  h2 { font-weight: normal; color: #fff;  padding:10px 0 30px; }
}
@for $i from 1 through 6 {
  h#{$i} {
    @extend %heading;
    
  }
}
%heading {
  font-family: "Georgia";
}
h1 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
h3 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  // font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.gray_belt { background: #dadfe2; padding-bottom: 40px;
  h3 { color: #ff4a93; font-size: 21px; font-weight: bold; }
  p { color: #0a6963; font-size: 21px; font-family: "Times New Roman", Times, Baskerville, Georgia, serif; font-weight: bold;}
}
.box_border { margin-top: 30px; border: 1px solid #000; padding-bottom: 20px;}
.custom_list {
  li { color: #fff; text-align: left; font-size: 28px; line-height: 68px; list-style: none; }
}
.gray_belt {
  .custom_list {
    li { color: #4e4a4b; }
  }
}

  .green_dot ,.pink_dop { background: #ff4a93; width: 18px; margin-right: 17px; height: 18px; float: left; @include border-radius(20px); margin-top: 24px; }
  .green_dot { background: #0a6963; }

.frm_wraper { }
.form-control {   font-size: 24px;  height: 67px; color: #ff4a93; background:transparent; border: 1px solid #000; border-left: 0; border-right: 0; @include border-radius(0); } 
.form-group { margin-bottom: 2px;
  &:first-child {
    .form-control {  border-top: 0; }
  }
  &:last-child {
    .form-control {  border-bottom: 0; }
  }

}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

input.form-control { @include placeholder {
    color: #ff4a93;
    font-size: 24px;
}}
.frm_sub_wrapper { border: 1px solid #000;  @include border-radius(20px);  }

.btn-default {
    color: #ff4a93;
    background-color: transparent;
    border-color: #000;
    font-size: 24px;
    padding: 10px 25px;
    margin-left: 20%;
    margin-top: 30px;
}
.footer { background: #ff4a93; padding: 15px 0; color: #fff; }
.box_title { color: #fff; font-size: 26px; padding-bottom: 20px; padding-left: 30px;     }
.descript { color: #fff; font-size: 22px; margin-bottom: 20px;
  a { color: #fff; font-size: 22px;}
}
.canvas_wrapper { text-align: center; background: #dadfe2; position: relative;
  &:hover { cursor: url(../images/mec15.cur), auto;}
  canvas { margin: 0 auto;}
}
.logo { pointer-events: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
    max-width:100%;
        max-height:100%;
        overflow:auto;
        width: 300px;
        @include opacity(0.5);
        height: 176px;
        img { height: auto !important; }
 }
 img { max-width: 100%; max-height: 100%;  }

canvas { 
  overflow: hidden;
  
  // width: 100vw; 
  max-width: 100%;
  display: block;
}
#caches {display: none;}
#navss { @include transition(all ease-in-out 0.5s); top: 0; }
.navbar-fixed-topp .navbar-nav>li>a {
    line-height: 20px;
}


@media (max-width: 767px) {
  .logo { height: auto; }
  body { padding-top: 51px;}
  .canvas_wrapper canvas {height: 200px;}
  .navbar-default .navbar-toggle .icon-bar { background-color: #fff;}
  
  #contact { text-align: center; }
  .box_title { padding-left: 0; }
}